<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
Суть завдання: Створіть поле для введення пароля, під полем додайте 3 розділи,
які будуть показувати надійність пароля; Зміни надійності пароля мають
відбуватися в режимі реального часу; Як розрахувати надійність пароля: Тільки
літери/цифри/символи - пароль простий; Комбінація
букв-символів/літер-цифр/цифр-символів - пароль середній; Містить букви, символи
та цифри - пароль надійний; Колір розділів залежатиме від надійності пароля:
Якщо поле порожнє, всі розділи сірі; Якщо поле містить менше 8 символів, усі
розділи червоні; Якщо пароль простий - перший розділ червоний, інші сірі; Якщо
пароль середній - перші два розділи жовті, останній сірий; Якщо пароль надійний,
усі розділи будуть зеленими;
