<h1 class="text-primary text-center p-4 bg-light">Password Strength</h1>
<div class="col-md-12">
  <form [formGroup]="form">
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" />
      <strength-checker
        barLabel="Password Strength: "
        [passwordToVerify]="form.value.password"
      ></strength-checker>
      <div
        *ngIf="!form.get('password').valid && form.get('password').touched"
      ></div>
    </div>
  </form>
</div>
